html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Code', monospace;
  padding: 0;
  margin: 0;
}
nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}
.navTop {
  font-size: 2em;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 700px;
  background: url("img/background.webp");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.headerTitle {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}
.viewMore {
  position: absolute;
  top: 87%;
  left: 22%;
  color: #111;
  background-color: #fff;
  z-index: 1;
  border-radius: 15px;
  text-decoration: none;
  color: #111; 
  padding: 6px 15px;
  border-radius: 15px;
}

.viewMore:hover {
  background-color: white;
  color: #111;
  transform: scale(1.3);
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}
.product {
  height: 1520px;
  background-color: black;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column; /* Chuyển sang layout cột */
  text-align: center; /* Căn giữa nội dung */
}

.product h1 {
  color: white;
  display: block; /* Hoặc sử dụng display: inline-block; */
  margin-bottom: 20px;
  margin-top: 190px; /* Điều chỉnh margin-top theo yêu cầu của bạn */
}

.image-container {
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-box {
  border-radius: 30px;
  flex: 0 1 calc(30% - 20px);
  margin: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.image-box img {
  border-radius: 30px;
  width: 80%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
}

.image-box:hover img {
  border-radius: 30px;
  transform: scale(1.1);
}

.gallery {
  display: flex;
}
.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  border-radius: 30px;
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font: bold;
  font-size: 20px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: #111;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons{
  display: flex;
}

.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright{
  font-weight: 300;
  font-size: 18px;
}

@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }

  .search{
    display: none;
  }

  .navBottom{
    flex-wrap: wrap;
  }

  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .header{
    clip-path: none;
  }
  .headerTitle{
    display: none;
  }
  .features{
    flex-direction: column;
  }
  .gallery{
    display: none;
  }

  .newSeason{
    flex-direction: column;
  }

  .nsItem:nth-child(2){
    padding: 50px;
  }

  footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }
}
